* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3cfff;
    color: #000;
}

header {
    background-color: #5b7aff;
    text-align: center;
    padding: 30px 20px 10px;
}

header h1 {
    font-size: 48px;
    color: black;
    font-weight: bold;
}

header h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
}

.card {
    background-color: #003c80;
    color: white;
    border-radius: 10px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition-timing-function: 0.5;
    cursor: pointer;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 15px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 15px;
    transition: all 0.5 ease;
    
}

.card .info {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
}

